<div class="nav-btn">
	   <span class="span_nav span-1"></span>
	   <span class="span_nav span-2"></span>
	   <span class="span_nav span-3"></span>
	   </div>
<nav class="popup-nav">
    <ul>
        <li><a href="#">{{item_1}}</a></li>
        <li><a href="#">{{item_2}}</a></li>
        <li><a href="#">{{item_3}}</a></li>
        <li><a href="#">{{item_4}}</a></li>
        <li><a href="#">{{item_5}}</a></li>
        <li><a href="#">{{item_6}}</a></li>
        <li><a href="#">{{item_7}}</a></li>
    </ul>
</nav>