.card_body {
	width: 24%;
    margin: 0 0.5%;
    box-sizing: border-box;
    border-radius: 5px;
    float:left;
    border: 1px solid #aaa;
    color: #555;
    .card_header {
        border-bottom: 1px solid #aaa;
        position: relative;
        .user_logo{
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #555;
            background-size: 200%;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
            top:60%;
            left: 50%;
            transform: translateX(-50%);
        }
        .card_capt{
            text-align: center;
            margin: 10px 0;
            padding-bottom: 20px;
        } 
    }
    .card_description{
           padding: 2%;
           margin-top: 30px;
    }
    .card_footer {
        border-top: 1px solid #aaa;
        text-align: center;
        .footer_subscr{
            color: red;
            font-size: 0.8em;
            margin-bottom: 0;
        }
        .button_wrap{
            .site_btn{
                margin: 10px 0 15px;
            }
        }
   }
}